@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback");

@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

*:focus {
  outline: none;
}

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}
@layer base {
  h1 {
    @apply dark:text-white;
  }
  h2 {
    @apply dark:text-white;
  }
  h3 {
    @apply dark:text-white;
  }
  p {
    @apply dark:text-slate-400;
  }
  section {
    @apply dark:bg-slate-800;
  }
}
/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
  display: none;
}
